<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<fmt:setLocale value="${lang}"/>
<fmt:setBundle basename="bicycle"/>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" xmlns:c="http://www.w3.org/1999/XSL/Transform">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <c:set var="language" value="${lang}" scope="session"/>
            <c:choose>
                <c:when test="${user==null}">
                    <li class="nav-item">
                        <a class="nav-link" href="action?command=Login">
                            <fmt:message key="user.login"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="action?command=SignUp">
                            <fmt:message key="user.signup"/>
                        </a>
                    </li>
                </c:when>
                <c:otherwise>
                    <li>
                    </li>
                    <img align="left" src="${user.path}" height="50" width="50">
                    <c:choose>
                        <c:when test="${user.role == 1}">
                            <li class="nav-link">
                                <small class="nav-link">${user.login}</small>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="action?command=index">
                                    <fmt:message key="home"/>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="action?command=EditUsers">
                                    <fmt:message key="user.edit"/>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="action?command=EditBicycles">
                                    <fmt:message key="bicycles.edit"/>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="action?command=EditTypes">
                                    <fmt:message key="types.edit"/>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="action?command=EditRentPlaces">
                                    <fmt:message key="rentplaces.edit"/>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="action?command=summary">
                                    <fmt:message key="summary"/>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-danger" href="action?command=login">
                                    <fmt:message key="user.logout"/>
                                </a>
                            </li>
                        </c:when>
                        <c:otherwise>
                            <li class="nav-link">
                                <small class="nav-link">${user.login}</small>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="action?command=index">
                                    <fmt:message key="home"/>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="action?command=profile">
                                    <fmt:message key="profile"/>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="action?command=card">
                                    <fmt:message key="user.creditcard"/>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="action?command=preorder">
                                    <fmt:message key="user.orderbicycle"/>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="action?command=viewuserorders">
                                    <fmt:message key="user.vieworders"/>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-danger" href="action?command=login">
                                    <fmt:message key="user.logout"/>
                                </a>
                            </li>
                        </c:otherwise>
                    </c:choose>
                </c:otherwise>
            </c:choose>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="btn btn-success" href="action?command=index&locale=US">US</a>
                <a class="btn btn-success" href="action?command=index&locale=RU">RU</a>
                <a class="btn btn-success" href="action?command=index&locale=BY">BY</a>
            </li>
        </ul>
    </div>
</nav>

